*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #fff;

}

.card_product{
    position: relative;
    width: 300px;
    height: 500px;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0 25px 50px rgba(0,0, 0,0.15);
}

.card_product span {
    position: absolute;
    top: -10px;
    left: -10px;
    width: 150px;
    height: 150px;
    background: rgba(0,0, 0,0);
    display: flex;
    justify-content: center;
    align-items: center ;
    overflow: hidden;

}

.card_product span::before {

    content: 'Combo';
    position: absolute;
    width: 250px;
    height: 40px;
    background: #62baea;
    transform: rotate(-45deg) translateY(-20px);
    display: flex;
    justify-content: center;
    align-items: center ;
    text-transform: uppercase;
    font-weight: 400;
    color: #fff;
    letter-spacing: 0.1em;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    z-index: 2;

}

.card_product span::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 10px;
    height: 10px;
    background: #4a98bf;
    z-index: 1;
    box-shadow: 140px -140px #4a98bf;
}
